### BASICS OF PYTHON

#### KEYWORDS

* Python keywords are reserved words in Python
* They are case sensitive
* Currently there are 36 keywords in Python
* All these keywords are written in lower case except True, False and None

In [2]:
import keyword
print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
36

#### IDENTIFIERS

* An Identifier in Python is a name given to entities like class, variables, functions etc,
* Identifiers help to differentiate one entity from another.

#### RULES FOR WRITING IDENTIFIERS

* Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) o an underscore _
* An Identifier cannot start with a digit.
* Keywords cannot be used as Identifiers.

#### COMMENTS

In [5]:
# THIS IS A cOMMENT

In [6]:
'''THIS IS A MULTI LINE COMMENT'''

'THIS IS A MULTI LINE COMMENT'

In [7]:
"""THIS IS A MULTI LINE COMMENT"""

'THIS IS A MULTI LINE COMMENT'

#### DOCSTRING

* DOCSTRING - DOCUMENTATION STRING
* It Comes as the definition of a function, method, class or module.
* associated with __doc__

In [9]:
def Addition(a,b):
    """Function to add numbers"""
    return a + b

In [10]:
Addition.__doc__

'Function to add numbers'

#### VARIABLES

* Container to hold data in memory, reserves space in memory.
* Case Sensitive

In [11]:
my_var = 27

In [12]:
id(my_var)

2636960197744

In [18]:
a = 1
b = 2
c = 3

In [19]:
print(a,b,c)

1 2 3

In [20]:
a,b,c = 1,2,3

In [21]:
print(a,b,c)

1 2 3

#### RULES AND NAMING CONVENTIONS

* can be a combination of letters in lowercase (a to z) or uppercase (A to Z) o an underscore _
* Make sure variable name makes sense

In [22]:
snake_case = 'I am snake case variable'
MACRO_CASE = 'I am MACRO case variable'
camelCase = 'I am camel case variable'

In [23]:
a = ['Red', 'Green', 'Blue'] # NOT LIKE THIS
Colors = ['Red', 'Green', 'Blue'] # LIKE THIS

#### OUTPUT

* print()

In [25]:
number1, number2 = 30,50
multiplication = number1 * number2
print(f'The multiplication is {multiplication}')

The multiplication is 1500

#### INPUT

* input()
* Dynamic request which accepts user input or entry

In [26]:
user_entry = input('Enter the number')
print(f'This is the number given by user {user_entry}')

Enter the number5
This is the number given by user 5

#### IMPORT

* import

In [30]:
numbers = [2,4,5,6,8,1,9,14]

mean= (2+4+5+6+8+1+9+14) / 8 # REGULAR METHOD
mean

6.125

In [31]:
import statistics # USING MODULES

statistics.mean(numbers)

6.125

### OPERATORS

#### ARITHMETIC OPERATORS

In [1]:
5+6 # ADDS

11

In [2]:
6-5 # SUBTRACT

1

In [3]:
5*6 # MULTIPLICATION

30

In [4]:
5/10 # DIVISION

0.5

In [5]:
2**5 # EXPONENENT

32

In [6]:
5//2 # FLOOR DIVISION

2

In [7]:
10%5 # MODULO DIVISION

0

#### COMPARISION OPERATORS

In [8]:
5 > 6

False

In [9]:
5 < 6

True

In [11]:
10 <= 5

False

In [12]:
10 >= 5

True

In [13]:
10 == 10

True

In [14]:
10 != 10

False

#### LOGICAL OPERATORS

In [21]:
(5 > 6) and (6 > 5 )

False

In [22]:
(5 > 6) or (6 > 5 )

True

In [23]:
not (5 > 6)

True

#### BITWISE OPERATORS

In [28]:
# & | ~ ^ << >>

#### ASSIGNMENT OPERATORS

In [29]:
# =, +=, -=, *=, /=, %=, //=, *=, &=, |=, ^=, >>=, <<=

#### SPECIAL OPERATORS

In [30]:
# IS 
# IS NOT

#### MEMBERSHIP OPERATORS

In [31]:
# IN
# NOT IN

### PYTHON FLOW CONTROL

#### IF STATEMENT

In [39]:
a = 5
b = 6

if (a < b):
    print('True')

True

#### IF ELSE STATEMENT

In [40]:
a = 7
b = 6

if (a < b):
    print('True')
else:
    print('Not True')

Not True

#### ELIF STATEMENT

In [46]:
a = int(input('Enter a number between 0 and 9: '))


if (a < 3):
    print('Less than 3')
elif (a < 5):
    print('Less than 5')
elif (a < 7):
    print('Less than 7')
elif (a < 9):
    print('Less than 9')
else:
    print('Number cannot be accepted')

Enter a number between 0 and 9: 10
Number cannot be accepted

#### FOR LOOP

In [47]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

#### WHILE LOOP

In [49]:
i = 0

while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

#### BREAK STATEMENT

In [58]:
for i in range(10):
    print(i)
    if i == 3:
        break

0
1
2
3

#### CONTINUE STATEMENT

In [59]:
for i in range(10):
    if i != 3:
        print(i)
        continue

0
1
2
4
5
6
7
8
9

### PYTHON FUNCTIONS

#### USER DEFINED FUNCTIONS

In [73]:
def test_function():
    """
    This is a user defined function
    We created for testing purpose
    """
    return 'Test Function'

In [74]:
test_function()

'Test Function'

In [75]:
print(test_function.__doc__)

    This is a user defined function
    We created for testing purpose

In [77]:
def test_function_addition(a,b):
    """This is a user defined function
    We created for testing purpose"""
    return 'Test Function - '+ str(a + b)

In [78]:
test_function_addition(2,3)

'Test Function - 5'

In [79]:
# CALCULATE SIMPLE INTEREST

def SimpleInterestCalculation(P, N , R ):
    return ( P * N * R )/ 100

In [81]:
SimpleInterestCalculation(200000,5,15)

150000.0

In [83]:
# PRINT EMOJIS

def emoji(unicode = None):
    print(unicode)

In [87]:
emoji("\U0001F603")

ðŸ˜ƒ

In [ ]:
# Replace the â€œ+â€ with â€œ000â€ in any of the Unicodes

In [88]:
emoji("\U0001F60A")

ðŸ˜Š

#### ARBITRARY ARGUMENTS

In [89]:
def students(*names):
    for name in names:
        print(f'Welcome {name}')

In [90]:
students('Karthik','Vishal','Sachin')

Welcome Karthik
Welcome Vishal
Welcome Sachin

#### FUNCTION WITH LOOPS

In [91]:
# WE WILL NOT KNOW HOW MANY ARGUMENTS THAT WILL BE GIVEN BY USER

def my_function(*mm):
    for p in mm:
        print(p)

In [92]:
my_function('Hi','My','Name','Is','Karthikraghavan')

Hi
My
Name
Is
Karthikraghavan

#### LAMBDA FUNCTIONS

In [94]:
# Anonymous function

x  = lambda a : a + 10

print(x(5))

15

In [95]:
x = lambda m,n : m * n

print(x(5,4))

20

In [96]:
def TestingLambda(n):
    return lambda c:c*n

In [98]:
R = TestingLambda(6)

In [99]:
R(5)

30

#### BUILT IN FUNCTIONS

https://docs.python.org/3/library/functions.html

#### GLOBAL AND LOCAL VARIABLES

In [114]:
a = 5 # Global variable
def LocalVariable():
    z = 20
    return z # Local variable

In [112]:
a

5

In [117]:
LocalVariable()

20

In [118]:
z

NameError: name 'z' is not defined

### WORKING WITH FILES

In [8]:
file = open('cognizant.txt') # load file

In [9]:
file.read() # to read the file

'Cognizant is an American multinational information technology services and consulting company. It is headquartered in Teaneck, New Jersey, United States. Cognizant is part of the NASDAQ-100 and trades under CTSH. It was founded as an in-house technology unit of Dun & Bradstreet in 1994, and started serving external clients in 1996.\n\nAfter a series of corporate re-organizations there was an initial public offering in 1998.\n\nCognizant had a period of fast growth during the 2000s and became a Fortune 500 company in 2011; as of 2021, it is ranked 185.'

In [13]:
file.seek(0)

0

In [12]:
file.readlines()

['Cognizant is an American multinational information technology services and consulting company. It is headquartered in Teaneck, New Jersey, United States. Cognizant is part of the NASDAQ-100 and trades under CTSH. It was founded as an in-house technology unit of Dun & Bradstreet in 1994, and started serving external clients in 1996.\n',
 '\n',
 'After a series of corporate re-organizations there was an initial public offering in 1998.\n',
 '\n',
 'Cognizant had a period of fast growth during the 2000s and became a Fortune 500 company in 2011; as of 2021, it is ranked 185.']

In [ ]:
file = open('cognizant.txt','r') # load file in read mode
file = open('cognizant.txt','w') # load file in write mode

In [ ]:
# by default, python uses 'utf-8' for windows
# by default, python uses 'cp1252' for linux

In [14]:
file

In [15]:
file.close() # Close the file

In [17]:
file.readlines() # we cannot perform operations on the file after it closed.

ValueError: I/O operation on closed file.

#### USING WITH STATEMENT

In [ ]:
# with open(<filename>, <access mode>) as <file pointer>:

In [20]:
with open('cognizant.txt','r') as CognizantFile:
    print(CognizantFile.readlines())

['Cognizant is an American multinational information technology services and consulting company. It is headquartered in Teaneck, New Jersey, United States. Cognizant is part of the NASDAQ-100 and trades under CTSH. It was founded as an in-house technology unit of Dun & Bradstreet in 1994, and started serving external clients in 1996.\n', '\n', 'After a series of corporate re-organizations there was an initial public offering in 1998.\n', '\n', 'Cognizant had a period of fast growth during the 2000s and became a Fortune 500 company in 2011; as of 2021, it is ranked 185.']

In [21]:
CognizantFile.read()

ValueError: I/O operation on closed file.

In [ ]:
# if we use with, we dont have to close the file manually

In [ ]:
# w - create and write
# a - append
# r - read

### PYTHON MODULES

In [22]:
import statistics
dir(statistics)

['Counter',
 'Decimal',
 'Fraction',
 'NormalDist',
 'StatisticsError',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_coerce',
 '_convert',
 '_exact_ratio',
 '_fail_neg',
 '_find_lteq',
 '_find_rteq',
 '_isfinite',
 '_normal_dist_inv_cdf',
 '_ss',
 '_sum',
 'bisect_left',
 'bisect_right',
 'erf',
 'exp',
 'fabs',
 'fmean',
 'fsum',
 'geometric_mean',
 'groupby',
 'harmonic_mean',
 'hypot',
 'itemgetter',
 'log',
 'math',
 'mean',
 'median',
 'median_grouped',
 'median_high',
 'median_low',
 'mode',
 'multimode',
 'numbers',
 'pstdev',
 'pvariance',
 'quantiles',
 'random',
 'sqrt',
 'stdev',
 'tau',
 'variance']

In [23]:
import math
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

#### RENAMING MODULES

In [24]:
import statistics as stats

In [25]:
stats.mean([2,6,5])

4.333333333333333

#### FROM ... IMPORT STATEMENT

In [26]:
from pandas import read_csv

# To import specific names and not the entire module

In [27]:
from pandas import * 

# import everything

### PYTHON PACKAGES AND LIBRARIES

In [ ]:
# https://total-data-science.teachable.com/courses/1656277/lectures/37722252

In [ ]:
# !pip install pip

In [28]:
pip --version

pip 22.3 from C:\ProgramData\Anaconda3\lib\site-packages\pip (python 3.9)

Note: you may need to restart the kernel to use updated packages.

UPGRADING PIP

* UNIX/MAXOS - python -m pip install -U pip
* WINDOWS - py -m pip install -U pip

In [29]:
# pip install numpy --> installing library
# import numpy as np --> importing library for use

### DATATYPES IN PYTHON

* Integers
* Floating point numbers
* Complex
* String
* List
* Tuple
* Dictionary
* Set